<!doctype html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>KilometerApp</h1>
  <h2>Wachtwoord resetten</h2>

  <p>
    Om je wachtwoord te resetten klik je op onderstaande link.
  </p>
  <p>
    <a href="<%= edit_password_reset_url(@user.password_reset_token) %>">Reset wachtwoord</a>
    <br>
    <br>
    <small>(Of klik hier: <%= edit_password_reset_url(@user.password_reset_token) %>)</small>
  </p>
  <p>
    Als je niet wilt dat je wachtwoord wordt gereset kan je deze e-mail negeren.
  </p>
  <hr>
  <em>Het team van KilometerApp - http://kilometer.co</em>
</body>
</html>
